@model IEnumerable<MiPrimeraWebApp.Models.PaisModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo País", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDPais }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IDPais }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IDPais })
        </td>
    </tr>
}

</table>
